:root {
    --dark:#252525;
    --pink:#f807c4;
    --red:#da0505;
    --deep-red:#720505;
    --deep-blue:#024564;
    --gray:#f8f9fa;
    --light:#ababab;
    --lighter-gray:rgba(248, 249, 250, 0.38);
    --green:#18b118;
    --white:#fff;
}

body {
    margin: 0;
    padding:0;
    background-color:var(--dark);
}


.row {
    margin: 0;
    padding:0
}

.navbar {
    width:100%;
    padding: 0;
    border-radius: 8px;
    border:2px solid var(--light);
    margin-top: 0.5em;
}

.navbar-nav {
    border-top: 1px solid white;
}

.navbar-nav .nav-item .nav-link {
    color:var(--white) !important;
}

.section-restart {
    border-radius: 6px;
    font-size: 0.8em;
    display: flex;
}

.section-restart .progress {
    width: 100%;
    margin-top: 0;
}

#map {
    height: 73vh;
    width:100%;
    z-index: 0;
    border:2px solid var(--light);
}

.section-plane-groups {
    z-index: 3;
    position: absolute;
    top: 13%;
    width: 0%;
    left: -10%;
    bottom: 0;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.section-plane-groups.open {
    width: 80%;
    left: 0;
}

.toggle-sidebar {
    text-align: left !important;
    font-size: large;
    color: white;
    font-weight: 800;
    padding: 4px;
    padding: 0.7em;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoLTEzNSA3LjkwNCA2LjM3NCkiIGZpbGw9IiM5QTlGQTciIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHJlY3Qgd2lkdGg9IjEyIiBoZWlnaHQ9IjMiIHJ4PSIxLjUiLz48cmVjdCB4PSI5IiB3aWR0aD0iMyIgaGVpZ2h0PSIxMiIgcng9IjEuNSIvPjwvZz48L3N2Zz4=);
    background-size: cover;
    transform: rotateZ(180deg);
    background-color: var(--red);
    margin-right: 0.5em;
}

/* background */
.bg-lighter {
    background-color:var(--lighter-gray)!important;;
}
.bg-green {
    background-color: var(--green);
}

.bg-red {
    background-color: var(--red);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-gradient {
    background-image: linear-gradient(90deg, var(--deep-red) 10%, var(--red), var(--deep-red) 90%);
}

.bg-gradient-red {
    background-image: linear-gradient(90deg, var(--deep-red) 10%, var(--red), var(--deep-red) 90%);
}

.bg-gradient-neutral {
    background-image: linear-gradient(90deg,  var(--dark) 10%, var(--light), var(--dark) 90%);
}

.bg-gradient-blue {
    background-image: linear-gradient(90deg, var(--deep-blue) 10%, var(--blue), var(--deep-blue) 90%);
}

/*  */
.more-info p {
    margin:0;
    font-size: 0.8em;
}

.players div {
    text-align: center;
}
.list {
    list-style-type: none; 
    padding: 0;
}

.list-item {
    margin: 0;
    line-height: 1.2;
    font-size: 0.95em;
}

/* progrss bar */
.progress {
    height: 25px;
    margin-top: 0.7em;
    position: relative;
    background-color: rgba(233, 236, 239, 0);
    border-radius: .25rem;
    border: 2px solid var(--lighter-gray);
}

.progress p {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

section {
    margin-top: 0.5em;
}

section p:first-child {
    text-decoration: underline;
}

section p {
    margin:0;
    font-size: 0.8em;
}

.section-p{
    display: flex;
    justify-content: space-evenly;
    margin-right:0.3em;
}


.aircrafts span {
    margin: 0.1em 0.3em;
}
/* util */
.img {
    width:auto;
    height:35vh;
    border-radius: 6px;
}

.img-sm {
    width:100px;
    height: 100px;
}

.img-circle {
    border-radius: 50%;
    border:2px solid gold;
}

@media (min-width:50em) {
    main {
        padding:2em 2em 0;
    }

    .navbar {
        margin-top: 0em;
    }

    .navbar-nav {
        width: 100%;
        justify-content: space-evenly;
        border-top: none;
    }

    .section-plane-groups {
        position: relative;
        display: block;
        background-color: transparent;
        left: 0;
    }

    .section-restart {
        text-align: center;
    }

    .toggle-sidebar {
        display: none;
    }
}